flow.json
[{"id":"245a35bf.f248ea","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39c912a5.f222ae","type":"mqtt-broker","z":"","name":"","broker":"sada","port":"1883","clientid":"fasa","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5483975.4a3238","type":"firebase config","z":"","firebaseurl":"afwefgae","loginType":"email"},{"id":"f8c643e0.d383f","type":"http in","z":"245a35bf.f248ea","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":357,"y":249,"wires":[["7ee3ad68.352124"]]},{"id":"91505f80.fc8c4","type":"http response","z":"245a35bf.f248ea","name":"sa","statusCode":"","headers":{},"x":768,"y":360,"wires":[]},{"id":"7ee3ad68.352124","type":"function","z":"245a35bf.f248ea","name":"","func":"msg.payload = {\n    \"Data1\":\" satya\",\n    \"Datya2\": \"Satya2\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":170,"wires":[[]]}]